/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.block-container > div > div > div[data-testid="stHorizontalBlock"]:nth-child(4) > div[data-testid="column"],
div.block-container > div > div > div[data-testid="stHorizontalBlock"]:nth-child(8) > div[data-testid="column"],
div.block-container > div > div > div[data-testid="stHorizontalBlock"]:nth-child(6) > div > div> div>div[data-testid="stHorizontalBlock"] > div[data-testid="column"]
{
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 18px 8px 8px 34px;
  border-radius: 5px;
  
  border-left: 0.5rem solid #9AD8E1 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/* red for expense col */
div.block-container > div > div > div[data-testid="stHorizontalBlock"]:nth-child(4) > div[data-testid="column"]:nth-child(2) {
  border-left: 0.5rem solid #e28955 !important;
}

/* label color */
div[data-testid="stMetricLabel"]{
    color: #36b9cc !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


/* Move block container higher */
div.block-container.css-z5fcl4.e1g8pov64 {
  margin-top: -5em;
}


/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}